/* Credits */
.credit-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: absolute;
    z-index: -1;
    width: 100%;
    font-size: 25px;
}

@media only screen and (max-width: 768px) {
    .credit-description h1 {
        text-align: center;
    }
}