/* Navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;
    background-color: rgb(103, 125, 106);
    z-index: 100;
}

.header-icon {
    width: 40px;
    margin: 8px 15px;
    position: absolute;
    top: 5px;
}

.title {
    text-align: left;
    position: absolute;
    left: 50px;
    padding: 0;
    margin: 14px 30px  0px;
    color: rgb(0, 0, 0);
    top: 2px;
    font-family: "Orbitron", sans-serif;
}

nav {
    position: absolute;
    right: 0;
    margin: 14px 30px 0px;
    top: 2px;
    font-family: "Orbitron", sans-serif;
}

a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

a:hover {
    color: white;
}  

@media only screen and (max-width: 375px) {
    .header{
        max-width: 375px;
    }

    .nav-links nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 48px 0;
        gap: 24px;
        background-color: rgb(103, 125, 106);
        opacity: 0.95;
        position: relative;
    }

    .show{
        display: none;
    }

    .close-btn {
        position: absolute;
        width: 20px;
        height: 20px;
        z-index: 10;
        background-color: rgb(103, 125, 106);
        right: 24px;
        top: 24px;
        border: none;
        color: white;
        font-size: 24px;
    }

    .nav-links a:hover {
        color: white;
    }

    .burger-menu {
        display: block;
        position: absolute;
        right: 30px;
        top: 23px;
    }

    .burger-menu span{
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
    }
}