body {
    margin: 0% 0% 0% 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    width: 100%;
}

/* jumbotron */
#jumbotron {
    max-width: 100%;
    margin-top: 50px;
}

.jumbotron-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.jumbotron {
    /* padding: 20px;
    text-align: center; */
    background-color: rgb(26, 54, 54);
}

.jumbotron-img {
    height: 400px;
    width: 300px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 8px solid rgb(224, 251, 252);
}

.jumbotron-img2 {
    height: auto;
    width: 500px;
    margin-top: 32px;
    border: 2px solid white;
    border-radius: 10px;
}

.jumbotron-text {
    color: rgb(224, 251, 252);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 8px solid rgb(224, 251, 252);
    font-family: "Kanit", sans-serif;
    /* width: 700px; */
    font-size: 35px;
}

/* Splash */
.splash {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(38, 53, 93);
    z-index: 200;
    margin: 0;
    padding: 0;
    top: 0;
}

.splash h1 {
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 50px;
    color: white;
}

.astronaut-dabbing {
    position: absolute;
    top: 40%;
    left: 18%;
    width: 400px;
    animation: hide 0.5s 1s forwards;
}

.astronaut-takeoff {
    position: absolute;
    top: 100%;
    left: 18%;
}

.animation {
    animation: glide 3s ease-out forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@keyframes glide {
    50% {
        transform: scale(0.8);
    }

    100% {
        transform: translateY(-900px) scale(0.1);
    }
}

/* Homepage */
#hobby {
    background-color: rgb(64, 83, 76);
    margin-top: -5px;
}

.hobbycard1 {
    border: 5px solid black;
    border-radius: 15px;
    width: 500px;
    height: 550px;
    margin: 25px;
    background-color: rgb(214, 189, 152);
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    text-align: center;
}

.imghobby img {
    width: 100%;
    border-radius: 15px;
}

.hobbycard1:hover {
    background-color: rgba(250, 181, 5, 0.831);
}

.hobbycontainer {
    display: flex;
    justify-content: center;
}

/* Form */
.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    visibility: hidden;
    opacity: 0;
    transition: visibilty 1s, opacity 1s;
}

.show {
    visibility: visible;
    opacity: 1;
}

.modal {
    width: 600px;
    height: 400px;
    position: relative;
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal h3 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.modal p {
    margin: 20px 0;
    padding: 0;
    font-size: 15px;
}

.modal img {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .hobbycontainer {
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jumbotron-title {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .header-flex {
        max-width: 100%;
        padding-left: 32px;
        padding-right: 32px;
    }

    .jumbotron-text {
        font-size: 24px;
    }

    .splash h1 {
        text-align: center;
        top: 60%;
        left: 20%;
    }

    .astronaut-dabbing {
        top: 20%;
        left: 25%;
    }
}